.App {
  text-align: center;
  background-color: #222;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  color: #FF95C7;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.button {
    -webkit-transition-duration: 0.1.5s;
    transition-duration: 0.2s;
    margin: auto;
    border: 3px solid #FF95C7;
    border-style: inset;
}

.slider {
  width: 80%;
  margin: auto;
  padding: 1% 0 3% 0%;
}
